<div style="height: 80vh;">
    <!-- <img src="../assets/September2020_versionSCORM/index_lms.html" alt=""> -->
<!-- <iframe src="../assets/September2020_versionSCORM/story.html" height="700px" width="1400px" frameborder="0"></iframe> -->
<!-- <iframe src="https://test-website-demo-1.s3.us-east-2.amazonaws.com/english/September2020_versionSCORM/index_lms.html" height="700px" width="1400px" frameborder="0"></iframe> -->
<ng-scorm-player [urlLaunchPage]="'https://test-website-demo-1.s3.us-east-2.amazonaws.com/english/player.html?antibiotics/index_lms.html'"></ng-scorm-player>
<!-- <ng-scorm-player [urlLaunchPage]="'../assets/September2020_versionSCORM/index_lms.html'"></ng-scorm-player> -->
</div>

<button (click)="return()">return position</button>